extends layout

block content
    h1=book.title
    h5 Written by #{book.author}
    p Book description: #{book.body}
    hr
    if user
        if user.admin == true && book.isBorrowed == false
            a.btn.btn-info(href="/books/edit/"+book._id) Edit
            a.btn.btn-danger.delete-book(href="#",data-id=book._id) Delete
        if book.isBorrowed == false
            a.btn.btn-primary.borrow-book(href="#",data-id=book._id) Borrow
        if book.borrowedBy == user._id
            a.btn.btn-primary.return-book(href="#",data-id=book._id) Return
        if book.isBorrowed == true && book.borrowedBy != user._id
            p Unfortunately this book is borrowed by someone else